@font-face {
    font-family: stolzl;
    src: url(/fonts/stolzl_regular.otf);
}
@font-face {
    font-family: gotham;
    src: url(/fonts/gothampro_bold.ttf);
}

.col-8.qq{
    margin-left: 250px ;
}
body {
    background-color: #fcfcfc;
    margin: 0 auto;
    color: #000000;
    font-family: gotham;
}
.g30 {
    gap: 30px;
}
.text-start{
    text-align: center !important;
}
.mesto{
    margin-top: 230px;
}
.bbbb {
    color: #000000;
    border-color: #6b5af9;
    font-family: stolzl;
    font-size: 15px;
}
.btn-outline-warning {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
}
.btn:hover {
    background-color: #f7ffb2;
    border-color: #f7ffb2;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
.sigma{
    background-image: url(/img/bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    min-height: 700px;
}
.row {
    padding-top: 30px;
}
.ul {
    font-family: stolzl;
    font-size: 14px;
    color: #000000;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
}
.rectangle {
    width: 416px;
    height: 540px;
    background-color: #f7ffb2;

    padding-right: 10px;
}
.img1 {
    padding: 0;
}
.row p-1 {
    height: 100%;
}
.col-6 {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rectangle {
    padding: 0;
    display: flex;
    align-items: center;
}
.sin {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: gotham;
    color: rgb(0, 0, 0);
    margin-left: 60px;
    padding-top: 300px;
}
.navodka {
    transition: 1s;
    text-align: center;
    cursor: pointer;
}
.navodka:hover {
    transform: scale(1.2);
}
.re2 {
    width: 154px;
    height: 44px;
    background-color: #ffffff;
    color: #210e09;
    align-items: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.txt1 {
    font-size: 40px;
    padding-top: 30px;
}

.re3 {
    width: 244px;
    height: 38px;
    background-color: #ffffff;
    color: #6b5af9;
    align-items: center;
    font-family: gotham;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 120px;
}
.log {
    display: flex;
    justify-content: center;
}
.kich {
    font-family: gotham;
    font-size: 40px;
    color: #ffffff;
    margin-top: 52px;
    display: flex;
    justify-content: center;
}
.carousel-caption d-none d-md-block {
    color: #000000;
}
.p1 {
    font-family: stolzl;
    font-size: 14px;
    color: #6b5af9;
    height: 8px;
}
.p2 {
    font-family: gotham;
    font-size: 14px;
    color: #000000;
    align-items: flex-start;
}
.h1 {
    font-family: gotham;
    font-size: 16px;
    text-transform: uppercase;
}
.tsena {
    display: flex;
    justify-content: center;
    align-items: center;
}
.re4 {
    font-family: gotham;
    font-size: 14px;
    width: 84px;
    height: 38px;
    border: 2px solid #6b5af9;
    color: #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-eda {
    width: 260px;
}
.card-img-top{
    width: 50%;
}
.flex-eda1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 255px;
}
.flex-eda2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 255px;
}
.carousel-caption {
    text-align: left !important;
    position: initial;
    flex-direction: row;
}
.carousel-control-prev {
    left: 40ch;
}
.carousel-control-next {
    right: 40px;
}
.w-100 {
    width: 25% !important;
}
.carousel-caption {
    padding-left: 25px;
}
.superflex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion {
    --bs-accordion-bg: #3d3d3d;
}
.ul1 {
    font-family: stolzl;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}
.accordion-button {
    color: #ffffff;
    font-family: gotham;
    font-size: 18px;
    text-transform: uppercase;
    outline: 10px;
    padding-left: 30px;
}
.z {
    padding-top: 20px;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #000;
    box-shadow: inset 0 calc(-1 * #000 var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion {
    --bs-accordion-color: #fff var(--bs-body-color);
}
.accordion-button:focus {
    z-index: 3;
}
.accordion-button {
    background-color: #000;
}
.accordion {
    --bs-accordion-color: #fff;
    --bs-accordion-btn-color: #fff;
}
.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
}
.t1 {
    text-transform: uppercase;
    color: #000000;
    font-size: 28px;
    font-family: gotham;
    align-items: center;
}
.picm {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.t2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-family: gotham;
    padding-top: 25px;
}
.pic1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.pic2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.vktg {
    padding-top: 25px;
    gap: 25px;
    display: flex;
}
.textfif {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.pic {
    height: 210px;
    width: 196px;
}
.vktg:hover {
    cursor: pointer;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #000000;
    font-family: gotham;
}
.nav-link {
    color: #000;
    font-family: gotham;
    background-color: #f7ffb2;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.ddd {
    height: 200px;
    width: auto;
}
.za {
    height: auto;
    width: auto;
    border: #000000 4px solid;
}
.zap {
    margin: 10px;
}
.nav-pills:hover {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #ffffff;
}
.zapra {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pp {
    font-family: stolzl;
    font-size: 14px;
    color: #908684;
}
.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #ffffff;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #fff var(--bs-link-color);
    --bs-nav-link-hover-color: #fff var(--bs-link-hover-color);
}
h5 {
    color: rgb(0, 0, 0);
}
.p1 {
    font-family: stolzl;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.card-img-top {
    width: 100%;
}
.carousel-control-prev {
    left: 0ch;
}
.carousel-control-next-icon {
    border: 2px solid black;
    border-radius: 20%;
}
.carousel-control-prev-icon {
    border: 2px solid black;
    border-radius: 20%;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #f7ffb2;
    --bs-btn-border-color: #f7ffb2;
    --bs-btn-hover-bg: #f7ffb2;
    --bs-btn-hover-border-color: #f7ffb2;
    --bs-btn-active-bg: #f7ffb2;
    --bs-btn-active-border-color: #f7ffb2;
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #f7ffb2;
}
.modal-content {
    background-color: #ffffff;
}
.row g-3 {
    padding: 0 auto;
}
.ppp {
    padding-top: 40px;
    padding-bottom: 20px;
}
.pt100 {
    padding-top: 100px;
}
.modal-header {
    border-bottom: #fff var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
}
.spr {
    display: none;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.btn-close {
    --bs-btn-close-color: #ffffff;
    background-image: url("/img/hhhhhh.svg");
    --bs-btn-close-opacity: 1;
}
.offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
    margin-top: 25px;
    margin-right: 20px;
}
.offcanvas {
    background-color: #414141;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #000000;
}
.iii {
    padding-top: 15px;
}
.jaj {
    padding-top: 20px;
}
.navbafr-toggler {
    border: #ffffff var(--bs-border-width) solid rgb(0 0 0 / 15%);
}
.width2 {
    display: flex;
    justify-content: center;
    width: 50%;
}
.pt100 .row{
    justify-content: center;
}
.width3 {
    max-width: 100%;
}
.width2 {
    padding-left: 80px;
    padding-right: 80px;
}
.sigma {
    display: flex;
    gap: 20px;
}
.gogo {
    display: none;
}
.sigma2{
    width: 50%;
}
@media (max-width: 1510px) {
    .flex-eda1 {
        width: 260px;
    }
    .flex-eda2 {
        width: 260px;
    }
}
@media (max-width: 1300px) {
    .superflex {
        flex-direction: column;
    }
    .w-100 {
        width: 60% !important;
    }
    .flex-eda {
        width: 290px;
    }
    .sigma {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sig1 {
        width: 616px;
    }
    .sig2 {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .mesto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .col-8.qq{
        margin-left: 170px;
    }
    .sin {
        margin-left: 0px;
        padding-top: 0px;
    }
    .sigma2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rectangle {
        display: none;
    }
}
@media (max-width: 1200px) {
    .ul {
        gap: 15px;
        font-size: 12px;
    }
}
@media (max-width: 1100px) {
    .width2 {
        flex-direction: column;
        align-items: center;
    }
    .textfif {
        padding-top: 30px;
    }
    .z {
        width: 600px;
    }
    .pt100 {
        padding-top: 30px;
    }
}
@media (max-width: 1024px) {
    .ul {
        gap: 13px;
        font-size: 10px;
    }
}
@media (max-width: 940px) {
    .card {
        border: 0;
        width: 200px;
    }
    .row rrr{
        padding-left: 700px;
        padding-right: 700px;
    }
}
@media (max-width: 910px) {
    .p2 {
        font-size: 10px;
    }
    .h1 {
        font-size: 12px;
    }
    .flex-eda1 {
        width: 200px;
    }
    .flex-eda2 {
        width: 200px;
    }
    .flex-eda {
        width: 220px;
    }
}
@media (max-width: 860px) {
    .spr {
        display: inline;
    }
    .ul {
        display: none;
    }
    .gaga {
        display: none;
    }
    .sigma2{
        display: none;
    }
    .carousel-item {
        padding-left: 0px;
    }
    .carousel-control-prev {
        left: -100px;
    }
    .carousel-control-next {
        right: -90px;
    }
}
@media (max-width: 770px) {
    .qq {
        display: flex;
        justify-content: center;
    }
    .row {
        justify-content: center;
    }
    .qqq {
        width: auto;
    }
    .flex-eda1 {
        width: 100px;
        flex-direction: column;
        align-items: center;
    }
    .flex-eda2 {
        width: 100px;
        align-items: center;
    }

    .sig1 {
        width: 516px;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 200px;
        height: 200px;
    }
    .w-100 {
        width: 200px !important;
    }
    .superflex {
        width: 400px;
        height: 500px;
    }
    .flex-eda1 {
        width: 198px;
    }
    .flex-eda2 {
        width: 198px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 25%;
    }
    .carousel-caption {
        text-align: left !important;
        position: absolute;
        flex-direction: column;
    }
    .flex-eda {
        width: 198px;
    }
    .col-8.qq{
        margin-left: 130px;
    }
    
}
@media (max-width: 620px) {
    
    .zapra {
        flex-direction: column;
        gap: 10px;
    }
    .pppp {
        font-size: 10px;
    }
    .z {
        width: 400px;
    }
    .carousel-control-prev {
        left: 0px;
    }
    .carousel-control-next {
        right: 0px;
    }
    .col-8.qq{
        margin-left: 80px;
    }
}
@media (max-width: 580px) {
    .width1 {
        width: 95%;
        display: flex;
        justify-content: center;
    }
    .container {
        justify-content: center;
    }
    .p10 {
        padding-left: 20px;
    }
    .sig1 {
        width: 416px;
    }
    .re3 {
        margin-top: 60px;
    }
}
@media (max-width: 460px) {
    .picm {
        flex-direction: column;
    }
    .z {
        width: 260px;
    }
    .sig1 {
        width: 316px;
    }
    .txt1 {
        font-size: 30px;
    }
    .h1{
        margin-top: 50px !important;
    }
    .container.text-start{
        height: 150px;
    }
    .sigma{
        min-height: 100px;
    }
    .carousel-control-next-icon {
        border: none;
    }
    .carousel-control-prev-icon{
        border: none;
    }
}
@media (max-width: 400px) {
    .width1 {
        width: 90%;
    }
    .pp {
        font-size: 9px;
    }
    .accordion-button {
        font-size: 10px;
    }
    .col-8.qq{
        margin-left: 70px;
    }
    
}
@media (max-width: 320px) {
    .p10 {
        padding-left: 10px;
    }
    .kich {
        font-size: 30px;
    }
    .t1 {
        font-size: 20px;
    }
    .txt1 {
        font-size: 20px;
    }
    .sig1 {
        width: 280px;
    }
    .col-8.qq{
        margin-left: 50px;
    }
    .container.text-start{
        height: 180px;
    }
}




@media (max-width: 770px){
.superflex {
    width: 306px;
    height: 500px;
}
}